<?xml version="1.0"?>
<configuration>  
  <system.web>    
    <compilation debug="true" targetFramework="4.0" />    
  </system.web>  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="httpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <standardEndpoints>      
      <webHttpEndpoint>        
        <standardEndpoint helpEnabled="true"        
        automaticFormatSelectionEnabled="true"/>        
      </webHttpEndpoint>      
    </standardEndpoints>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>
    <services>      
      <service name="wcfCine.Service">        
        <endpoint kind="webHttpEndpoint"  behaviorConfiguration="httpBehavior" binding="webHttpBinding"
        contract="wcfCine.IService" />        
      </service>      
    </services>    
  </system.serviceModel>  
</configuration>
